body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Microsoft JhengHei !important;
  background-color: hsl(213, 22%, 32%);
  text-align: center;
}

/* HTML default */
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  padding: 1em 0;
  margin: 0px;
}

h3 {
  margin: 0;
  color:#fff;
  margin-bottom: 1em;
}

.product-item{
  padding: 1em;
  border: 1px solid #fff;
  display: block;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.product-item select{
  width: 200px;
  margin-bottom: 0.4em;
  text-align: center;
}